﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2>Amanah Vehicles Maintenance System API</h2>
    </div>
    <div class="col-md-12">
        <a href="api/shift/get">Show shifts for example to test database connection</a>
    </div>
</div>
